<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body style="background:url('https://www.xtrafondos.com/descargar.php?id=4007&resolucion=2560x1440')no-repeat; background-size:cover; ">
<style>
    body {
        font-family: Arial, Arial;
        color: black;
        font-size: 22px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

    }

    main {
        max-width: 700px;
        margin: 0 auto;
        padding: 20px;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 8);
        text-align: center;

    }
    div{
        background-color: rgba(255, 255, 255, 0.3);
    }
</style>
<body>
    <main><center>

        <form th:action="@{/save}" th:object="${persona}" method="POST">

                <div class="card-header">
                    <h3>
                       CUCHILLOS
                    </h3>
                </div>
                    <div class="form-group">
                        <label>ID</label>
                        <input th:field="*{id}" type="text" class="form-control"required>
                    </div>
                    <div class="form-group">---
                        <label>NOMBRE</label>
                        <input th:field="*{name}" type="text" class="form-control" required >
                    </div>
                    <div class="form-group">---
                        <label>APELLIDO</label>
                        <input th:field="*{apellido}" type="text" class="form-control" required >
                    </div>
                    <div class="form-group">
                        <label>TELEFONO</label>
                        <input th:field="*{telefono}" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label >TIPO DE ARMA:</label>
                        <select th:field="*{tipo}" class="form-select" id="tipo" required>
                            <option value="" disabled selected hidden>-- SELECCIONAR --</option>
                            <option value="Cuchillo mondador">Cuchillo mondador - $700.000</option>
                            <option value="Cuchillo cebollero">Cuchillo cebollero- $600.000</option>
                            <option value="Cuchillo deshuesador">Cuchillo deshuesador - $400.000</option>
                            <option value="Cuchillo fileteador">Cuchillo fileteador - $200.000</option>
                            <option value="Cuchillo jamonero">Cuchillo jamonero- $150.000</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label >METDO DE PAGO:</label>
                        <select th:field="*{metodo}" class="form-select" id="metodo" required >
                            <option value="" disabled selected hidden>-- FORMA DE PAGO --</option>
                            <option value="TARGETA CREDITO">TARGETA CREDITO</option>
                            <option value="TARGETA DEBITO">TARGETA DEBITO</option>
                            <option value="EFECTIVO">EFECTIVO</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label>CANTIDAD DE ARMAS</label>
                        <input th:field="*{cant}" type="number" class="form-control " min="1" max="20"required>

                    </div>

                <div class="card-footer">
                    <input type="submit" value="Guardar" class="btn btn-success">
                    <a th:href="@{/inicio}" class="btn btn-warning">Atras</a>
                </div>
            </div>

        </form>


    </main></center>


</body>
</html>